<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="text/css" href="css/stylesheet.css"> 


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gmail Clone</title>
</head>
<body>


<div class="toprow">
  <div class="col-md-2"><img src="/public/images/google-logo.png" 
   class="img-thumbnail"></div>
  	<div class="col-md-8"> 
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
  	  </div>
  <div class="col-md-2">empty space</div>
</div>

<div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>





<ul class="list-inline">
  <li><button data-hook="Files">Files</button></li>
  <li><button data-hook="Refresh">Refresh</button></li>
  <li><button data-hook="More">More</button></li>
</ul>
	

        

<ul data class="list">
    <li>Inbox</li>
    <li>Sent Mail</li>
    <li>Drafts</li>
    <li>All Mail</li>
    <li>Spam</li>
</ul>
<input type="text">

<main class="container">






</html>

    <main class="container">
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Notifications</a></li>
            <li><a href="#about">Messages</a></li>
            <li><a href="#contact">Discover</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  	</div>
  </div>