<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/stylesheet.css"> 


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gmail Clone</title>
</head>

<body>

<br>

<div class="firstrow">
  <div class="col-md-2"><img src="/images/google-logo.png"></div>
  <div class="col-md-8"> <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
  </div>
  <div class="col-md-2"> </div>
</div>
</div>

<br>
<br>

<div class="secondrow">
<div class="row">
  <div class="col-md-2 gmaillogoimage"><img src="/images/gmail.png"></div>
  <div class="col-md-8">
    <ul class="list-inline">
    <li><button class="btn btn-default" type="submit">Files</button></li>
    <li><button class="btn btn-default" type="submit">Refresh</button></li>
    <li><button class="btn btn-default" type="submit">More</button></li>
    </ul>
    </div>
  <div class="col-md-2"></div>
</div>
</div>

<div class="thirdrow">
  <div class="col-md-2">
    <ul data class="mailboxlist">
      <li>Inbox</li>
      <li>Sent Mail</li>
      <li>Drafts</li>
      <li>All Mail</li>
      <li>Spam</li>
    </ul>
  </div>
  <div class="col-md-8">
    <ul class="list-group">
      <li class="list-group-item"><input type="checkbox"><span class="badge">20</span>  Offensive Peter comments</li>
      <li class="list-group-item"><input type="checkbox"><span class="badge">18</span>  Micah knowledge</li>
      <li class="list-group-item"><input type="checkbox"><span class="badge">17</span>  Nelson GIF's</li>
      <li class="list-group-item"><input type="checkbox"><span class="badge">14</span>  Thoughts that shock and terrify Tatiana</li>
      <li class="list-group-item"><input type="checkbox"><span class="badge">12</span>  Stevie's experiences in the armed forces of the US of A</li>
      <li class="list-group-item"><input type="checkbox"><span class="badge">14</span>  Nizar's wackiness</li>
      <li class="list-group-item"><input type="checkbox"><span class="badge">13</span>  Christopher's concentration</li>
      <li class="list-group-item"><input type="checkbox"><span class="badge">12</span>  Will's tales of the Orient</li>
      <li class="list-group-item"><input type="checkbox"><span class="badge">10</span>  El Dumpo corruption stories</li>
    </ul>        
    </div>
  <div class="col-md-2"> </div>
</div>

</body>
</html>

   