<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/stylesheet.css"> 

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Goofy Gmail Clone</title>
</head>

<body>

<br>

<div class="firstrow">
  <div class="col-md-2"><img src="/images/google-logo.png"></div>
  <div class="col-md-8"> <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
  </div>
  <div class="col-md-2"> </div>
</div>
</div>

<br>
<br>

<div class="secondrow">
<div class="row">
  <div class="col-md-2 gmaillogoimage"><img src="/images/gmail.png"></div>
  <div class="col-md-8">
    <ul class="list-inline">
    <li><button class="btn btn-default" type="submit">Files</button></li>
    <li><button class="btn btn-default" type="submit">Refresh</button></li>
    <li><button class="btn btn-default" type="submit">More</button></li>
    </ul>
    </div>
  <div class="col-md-2"></div>
</div>
</div>

<div class="thirdrow">
  <div class="col-md-2">
    <ul data class="mailboxlist">
      <li>Inbox</li>
      <li>Sent Mail</li>
      <li>Drafts</li>
      <li>All Mail</li>
      <li>Spam</li>
    </ul>
  </div>
  <div class="col-md-8">
    <br>
      <div class="row message">
        <div class="col-md-1"><input class="js-checkbox"type="checkbox"> <span class="glyphicon glyphicon-star-empty"></span></div>
        <div class="col-md-10"> Offensive Peter comments </div> 
        <div class="col-md-1"><span class="badge">20</span></div>
      </div>     
      <div class="row message">
        <div class="col-md-1"><input class="js-checkbox"type="checkbox"> <span class="glyphicon glyphicon-star-empty"></span></div>
        <div class="col-md-10"> Micah knowledge </div> 
        <div class="col-md-1"><span class="badge">18</span></div>
      </div>     
      <div class="row message">
        <div class="col-md-1"><input class="js-checkbox"type="checkbox"> <span class="glyphicon glyphicon-star-empty"></span></div>
        <div class="col-md-10"> Nelson looney GIF's </div> 
        <div class="col-md-1"><span class="badge">17</span></div>
      </div>     
      <div class="row message">
        <div class="col-md-1"><input class="js-checkbox"type="checkbox"> <span class="glyphicon glyphicon-star-empty"></span></div>
        <div class="col-md-10"> Empirical thoughts that shock and terrify Tatiana </div> 
        <div class="col-md-1"><span class="badge">16</span></div>
      </div>     
      <div class="row message">
        <div class="col-md-1"><input class="js-checkbox"type="checkbox"> <span class="glyphicon glyphicon-star-empty"></span></div>
        <div class="col-md-10"> Stevie's experiences in the armed forces of the US of A </div> 
        <div class="col-md-1"><span class="badge">14</span></div>
      </div>     
      <div class="row message">
        <div class="col-md-1"><input class="js-checkbox"type="checkbox"> <span class="glyphicon glyphicon-star-empty"></span></div>
        <div class="col-md-10"> Nizar's wackiness and wisdom </div> 
        <div class="col-md-1"><span class="badge">11</span></div>
      </div>   
      <div class="row message">
        <div class="col-md-1"><input class="js-checkbox"type="checkbox"> <span class="glyphicon glyphicon-star-empty"></span></div>
        <div class="col-md-10"> Christopher's concentration </div> 
        <div class="col-md-1"><span class="badge">9</span></div>
      </div>     
      <div class="row message">
        <div class="col-md-1"><input class="js-checkbox"type="checkbox"> <span class="glyphicon glyphicon-star-empty"></span></div>
        <div class="col-md-10"> Will's tales of the Orient </div> 
        <div class="col-md-1"><span class="badge">9</span></div>
      </div> 
      <div class="row message">
        <div class="col-md-1"><input class="js-checkbox"type="checkbox"> <span class="glyphicon glyphicon-star-empty"></span></div>
        <div class="col-md-10"> El Dumpo corruption stories </div> 
        <div class="col-md-1"><span class="badge">3</span></div>
      </div> 
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.js"></script>
<script src="javascript/javascript.js"></script>

</body>
</html>

   