<html>
  <head>
    <title>Intro to JavaScript</title>
  </head>
  <body>
    <h1>Intro to JavaScript</h1>
    <p>Open your console.</p>
 
 
    <!-- Generally, you want this at the END of the body -->
    <script src="/javascript/javascript.js"></script>
    `
    <!-- NEVER DO THIS: -->
    <!-- script>
      console.log
    </script -->
  </body>
</html>