.mailboxlist{
	color: #d14836;
}

.message.checked{
	background-color: rgb(255,255,0);
}

.secondrow{
	margin-left: 12px;
}
.my_div{
	border: 1px solid blue;
	width: 200px;	 
	text-align: center;
	color: red;
	margin-left: auto;
	margin-right: auto; 
	margin-top: 200px;
	background-color: #F5F5F5;

}

